<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/dept/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/dept/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/dept/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/dept/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doAdd</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptDoAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doAdd</servlet-name>
        <url-pattern>/dept/doAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/dept/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doEdit</servlet-name>
        <servlet-class>com.icbc.sd.oa.dept.DeptDoEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doEdit</servlet-name>
        <url-pattern>/dept/doEdit</url-pattern>
    </servlet-mapping>
</web-app>